# Object files
*.o
*.ko
*.obj
*.elf

# Libraries
*.lib
*.a

# Generated Assembly
*.s

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# GEdit save files
*~

c-code/build/profile*
c-code/build/temp*

c-code/build_arm/profile*
c-code/build_arm/temp*
