//! **************************************************************************
// Written by: Map O.87xd on Tue Jul 29 15:45:04 2014
//! **************************************************************************

SCHEMATIC START;
COMP "clk" LOCATE = SITE "B8" LEVEL 1;
PIN clk_pin<0> = BEL "clk" PINNAME PAD;
PIN "clk_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
COMP "rst" LOCATE = SITE "B18" LEVEL 1;
COMP "LED0" LOCATE = SITE "J14" LEVEL 1;
COMP "LED1" LOCATE = SITE "J15" LEVEL 1;
COMP "LED2" LOCATE = SITE "K15" LEVEL 1;
COMP "LED3" LOCATE = SITE "K14" LEVEL 1;
COMP "LED4" LOCATE = SITE "E16" LEVEL 1;
COMP "LED5" LOCATE = SITE "P16" LEVEL 1;
COMP "code<0>" LOCATE = SITE "G18" LEVEL 1;
COMP "code<1>" LOCATE = SITE "H18" LEVEL 1;
COMP "code<2>" LOCATE = SITE "K18" LEVEL 1;
COMP "Start" LOCATE = SITE "H13" LEVEL 1;
COMP "bit_out" LOCATE = SITE "P9" LEVEL 1;
COMP "current_s_out<0>" LOCATE = SITE "E4" LEVEL 1;
COMP "current_s_out<1>" LOCATE = SITE "P4" LEVEL 1;
NET "clk_BUFGP/IBUFG" BEL "clk_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

