
# PlanAhead Generated physical constraints 

NET "Start" LOC = H13;
NET "bit_out" LOC = P9;
NET "clk" LOC = B8;
NET "code[2]" LOC = K18;
NET "code[1]" LOC = H18;
NET "code[0]" LOC = G18;

NET "rst" LOC = B18;

NET "clk" CLOCK_DEDICATED_ROUTE = FALSE;


NET "LED0" LOC = J14;
NET "LED1" LOC = J15;
NET "LED2" LOC = K15;
NET "LED3" LOC = K14;
NET "LED4" LOC = E16;
NET "LED5" LOC = P16;
NET "current_s_out[0]" LOC = E4;
NET "current_s_out[1]" LOC = P4;